<div class='container'>

    <div class="row">
        <div class="col-md-12">
            <state-component></state-component>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <leadContact-component></leadContact-component>
        </div>
        <div class="col-md-6">
            <location-component></location-component>
        </div>

    </div>

    <div class="row">
        <div class="col-md-6">
            <technicalContact-component></technicalContact-component>
        </div>
        <div class="col-md-6">
            <report-component></report-component>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <characteristics-component></characteristics-component>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <vendor-component></vendor-component>
        </div>
    </div>

    <br />
</div>